<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="filter-orm">
            <file>./test/Filter/ORMFilterTest.php</file>
        </testsuite>
        <testsuite name="filter-odm">
            <file>./test/Filter/ODMFilterTest.php</file>
        </testsuite>
        <testsuite name="orderby-orm">
            <file>./test/OrderBy/ORMOrderByTest.php</file>
        </testsuite>
        <testsuite name="orderby-odm">
            <file>./test/OrderBy/ODMOrderByTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./test</directory>
                <file>./config/module.config.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="test/build/logs/clover.xml"/>
    </logging>
</phpunit>
